header {
    background-color: #9cd6f4;
    background-image: url("C:/Users/paola/OneDrive/Desktop/Esercizi DOITA09/html-css-booleaner/img/pattern.png");
    height: 100px;
}

main {
    margin: 0px 100px;
}

#logo {
    height: 50%;
    padding: 25px 12px;
    margin: 0px 88px;

}

.no-top-margin {
    margin-top: 0px;
}

h1 {
    font-size: 30px;
    margin-bottom: 0px;
}

.grey-text {
    color: #808080;
}

.light-blue-text {
    color: #4eb5ff;
}

.smaller-text {
    font-size: 80%;
}

.high-lighted {
    background-color: yellow;
}

.indigo-bg {
    background-color: #7fa6fb;
}

.grey-bg {
    background-color: #dfe5f2;
}

footer {
    height: 40px;
    text-align: center;
    background-color: #313a6b;
    color: white;
}

footer p {
    padding: 15px;
}

th {
    color: white;
}

div img {
    height: 300px;
}